
:root{

  --w: 21cm;
  --h: 29.7cm;
}





.container-2{
  display: flex;
  flex-direction: column;
  min-width: 19cm;
  max-width: 19cm;
  padding: 2rem;
  margin-left:4rem;
}
.container-2{
  background-color: white;
}


.title_{
  padding-bottom: 2.5rem;
  font-size: 2.3rem;
}

.input-group{
  display: flex;
  padding-bottom: .5rem;
  padding-top: .5rem;
  flex-direction: column;
}

.input-group .lab-div{
  align-items: center;
  display: flex;
  margin-bottom: -.25rem
}
.input-group .lab-div label{
  flex-grow: 1; /* flex-grow */
  overflow: hidden; /* truncate */
  text-overflow: ellipsis; /* truncate */
  white-space: nowrap; /* truncate */
  display: block; /* block */
  font-weight: 500; /* font-medium */
  color: #4b5563; /* text-gray-600 */
  font-size: 0.875rem; /* text-sm */
}






.input-group .input-div {
  position: relative; /* relative */
  display: flex; /* flex */
  flex-direction: row; /* flex-row */
  border-width: 1px; /* border */
  border-color: transparent; /* border-transparent */
  color: #1f2937; /* text-gray-800 */
  border-radius: 0.25rem; /* rounded */
  align-items: center;
}
.input-group .input-div button{
  width: 25%;
}
.input-group .input-div button:hover{
  background: rgba(255, 0, 0, 0.822);
  cursor: pointer;
  border: none;
  color: white;
  
}

.input-group .input-div:focus-within {
  border-color: #0d9488; /* focus-within:border-brand-400 */
  background-color: #eaf4ff; /* focus-within:bg-brand-50 */
}

.input-group .input-div input , 
.input-group .input-div textarea {
  flex: 1; /* flex-1 */
  appearance: none; /* appearance-none */
  outline: none; /* outline-none */
  border-radius: 0.25rem; /* rounded */
  margin: 0.5rem; /* py-2 (padding-y) */
  padding-top: 0.5rem; /* py-2 (padding-y) */
  padding-bottom: 0.5rem; /* py-2 (padding-y) */
  padding-left: 0.75rem; /* ps-3 (padding-start) */
  padding-right: 0.75rem; /* pe-3 (padding-end) */
  font-size: 1rem; /* text-base */
  background-color: transparent; /* bg-transparent */
  background: transparent;
  border: 0.1rem solid rgb(118, 118, 255);
}
.input-group .input-div textarea {
  height: 10rem;
  text-align: start;
}

.input-group button, 
.add-section button {
  border: 1px solid transparent; /* border border-transparent */
  background-color: #f3f4f6; /* bg-gray-100 */
  border-radius: 0.25rem; /* rounded */
  padding-top: 0.5rem; /* py-2 (padding-top) */
  padding-bottom: 0.5rem; /* py-2 (padding-bottom) */
  padding-left: 0.75rem; /* px-3 (padding-left) */
  padding-right: 0.75rem; /* px-3 (padding-right) */
  font-size: 1rem; /* text-base */
  transition: background-color 150ms, border-color 150ms; /* transition-colors duration-150 */
  width: 100%; /* w-full */
  height: 100%; /* h-full */
  max-height: 100%; /* h-full */
  background-size: cover; /* bg-cover */
  background-position: center; /* bg-center */
  background-repeat: no-repeat; /* bg-no-repeat */
  display: flex; /* flex */
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
}

.input-group  button:hover ,
.add-button button{
  border-color: #0d9488;
  background-color: #7293ff60;
}


.c-group{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.r-group{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#interestGroup_{
  cursor: pointer;
}

.m-cont {
  display: flex; /* Utiliser Flexbox pour le conteneur */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante */
  margin-left: 0.5rem; /* Espacement à gauche */
  margin-right: 0.5rem; /* Espacement à droite */
  padding-top: 1.25rem; /* Espacement en haut */
  padding-bottom: 0.75rem; /* Espacement en bas */
  padding-left: 0.5rem; /* Espacement à gauche */
  padding-right: 0.5rem; /* Espacement à droite */
  justify-content: flex-start; /* Centrer horizontalement les éléments */
}

.add-section .m-cont{
  display: flex; /* Utiliser Flexbox pour le conteneur */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante */
  margin-left: 0.5rem; /* Espacement à gauche */
  margin-right: 0.5rem; /* Espacement à droite */
  padding-top: 1.25rem; /* Espacement en haut */
  padding-bottom: 0.75rem; /* Espacement en bas */
  padding-left: 0.5rem; /* Espacement à gauche */
  padding-right: 0.5rem; /* Espacement à droite */
  justify-content: flex-start; /* Centrer horizontalement les éléments */
}


.add-button {
  display: inline-flex; /* inline-flex */
  border: 1px solid #d1d5db; /* border border-gray-400 */
  border-radius: 0.375rem; /* rounded-brand */
  position: relative; /* relative */
  box-sizing: border-box; /* box-content */
  overflow: hidden; /* overflow-hidden */
  max-width: 100%; /* max-w-full */
  background-color: transparent; /* bg-transparent */
  color: #374151; /* text-gray-700 */
  font-weight: 500; /* font-medium */
  padding-top: 0.25rem; /* py-1 (padding-top) */
  padding-bottom: 0.25rem; /* py-1 (padding-bottom) */
  padding-left: 1rem; /* ps-1 (padding-left) */
  padding-right: 1rem; /* pe-3 (padding-right) */
  font-size: 1rem; /* text-base */
  display: flex; /* items-center */
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
  transition: background-color 150ms, border-color 150ms; /* Transition effects */
  margin: 0.7rem;
  cursor: pointer;
}

.add-button:focus-visible {
  box-shadow: 0 0 0 4px #0d9488; /* focus-visible:ring-4 ring-brand */
}

.add-button:active {
  background-color: #e3f9f0; /* active:bg-brand-100 */
}

.add-button:hover {
  background-color: #bfd3ff7a; 
  border-color: #0d9488;
}
.add-button i{
  position: relative;
}


.add-section {
  display: flex; /* flex */
  width: 100%; /* w-full */
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 0.1rem solid #576cbb6b;
}
.add-section .r-group{
  padding-bottom: .5rem;
}



.add-section .r-group button{
  display: flex;
  flex-grow: 1; /* flex-grow */
  padding-top: 0.75rem; /* py-3 (padding-top) */
  padding-bottom: 0.75rem; /* py-3 (padding-bottom) */
  text-align: left; /* text-start */
  overflow: hidden; /* overflow-hidden */
  border-radius: 0.25rem; /* rounded */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
}
.add-section .r-group button:focus-visible {
  box-shadow: inset 0 0 0 4px #0d9488; /* focus-visible:ring-4 ring-brand ring-inset */
}
.add-section .r-group button h3{
  font-size: 1.25rem; /* text-xl */
  overflow: hidden; /* truncate */
  text-overflow: ellipsis; /* truncate */
  white-space: nowrap; /* truncate */
  color: #9ca3af; /* text-gray-400 */
  font-weight: 700; /* font-bold */
  width: 100%;
  margin: 0;
}

.add-section .r-group .hider{
  display: none;
  transform: 1s;
  transform: 1s;
}

.add-section .r-group button i {
  font-size: 1.35rem; /* text-xl */
  overflow: hidden; /* truncate */
  text-overflow: ellipsis; /* truncate */
  white-space: nowrap; /* truncate */
  color: #000000; /* text-gray-400 */
  align-items: center;
  align-content: center; 
  cursor: pointer;   
}

.add-section .r-group i {
  font-size: 2.5rem; /* text-xl */
  overflow: hidden; /* truncate */
  text-overflow: ellipsis; /* truncate */
  white-space: nowrap; /* truncate */
  color: #ff0000; /* text-gray-400 */
  align-items: center;
  align-content: center; 
  cursor: pointer;     
}

.add-section .r-group button:nth-child(2){
  background: rgba(194, 192, 192, 0.377);
  border-radius: 20%;
}

.group {
  padding: 2rem;
  border-radius: 1.5rem;
  transform: 0s ;
  border: 0.1rem solid #cacaca8c;
}
.group:hover{
  padding: 1.4rem;
  border: 0.1rem solid #3d40e7a9;
  border-radius: .5rem;
}
      
 
      

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none; /* display none initially */
}
.visible {
  opacity: 1;
  transition: opacity 1s;
}

.certifImg{
  height:9rem;
  cursor: pointer;
}

.viewSection{
  transition: 0.7s;
  background: white;
}

.viewSection:hover{
  padding: 0;
  margin: 0;
  margin-left: .5rem;
  border-color: red;
}




@media print {
  @page {
      scale: 0;
      size: A4; /* Format de papier A4 */
      margin-top: 0.10in;
      margin-right: 0in;
      margin-bottom: 0.10in;
      margin-left: 0in;
  }
  #downloadBtn{
      display: none;
  }


  body{
    margin: 0;
}

.container-2{
  display: none;
}

.bd-container{
    margin-left: auto;
    margin-right: auto;
}

.scrolltop, 
.l-header{
    display: flex;
}

.resume{
    display: grid;
    grid-template-columns: .5fr 1fr;
    box-shadow: 0 0 8px rgba(13,12,12,.15);
}

.resume__left{
    background-color: var(--container-color-alt);
}

.resume__right{
  background-color: white;
}

.resume__left, 
.resume__right{
    padding: 0 1.5rem;
}

.generate-pdf{
    display: inline-block;
}



body{
  background: white;
}

.section-title, 
.profile__description{
    text-align: initial;
}

.home__container{
    gap: 1.5rem;
}

.home__button-movil{
    display: none;
}

.references__container{
    grid-template-columns: repeat(2 , 1fr);
}

.languages__content{
    grid-template-columns: repeat(3 , max-content);
    column-gap: 3.5rem;
}

.interests__container{
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5;
}
#areaCv{
  min-width: var(--w);
  min-height: var(--h);
  max-width: var(--w);
}
}

