<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Dashboard - Accueil</title>
</head>
<body>

    {% include 'menu.html' %}

    <div class="content">
        <!-- Contenu spécifique à la page du tableau de bord -->
        <h1>Add Admin</h1>
        <!-- ... votre contenu ... -->
    </div>

</body>
</html>
