body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(190, 220, 255);
}

h1 {
    color: #4CAF50;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
