
QLabel#tendanceLabel{

    background-color: rgb(209, 209, 142);
    background-image: "url(images/tendance.jpg)";
    background-position: center; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}


